.button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    outline: none;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 1.5rem;
    cursor: pointer;
    color: #fff;
    background-color: blue;
    border: none;
}