.card {
    background-color: blue;
    .text_card {
        color: #fff;
    }
    .btn_card {
        background-color: #fff;
        color: blue;
    }
    .btn_card:hover {
        background-color: blue;
        color: #fff;
    }
}