.custom_navbar {
  background-color: blue;

  .name_ecommerce {
    color: #fff;
  }

  .links {
    color: #fff;
    text-align: center;
  }
}

/*
  Detalle a mejorar: 
  Cuando paso el mouse sobre los enlaces del navbar estos cambian de color y no quiero eso.
*/